@import "tailwindcss";
@import "./colors.css";

@layer base {
  html {
    @apply text-text-400 h-full bg-surface-950;
    font-size:16px;
    font-family: "Segoe UI", Tahoma, sans-serif;
  }
  
  #app {
    @apply flex flex-col items-center;
  }
  
  h1, h2, h3,  h4, h5, h6 {
    @apply text-text-200;
  }
  
  table, th, td {
    @apply border-2 border-surface-700 px-2 py-1 border-collapse;
  }
  
  table {
    @apply text-sm;
  }
  
  th {
    @apply font-medium text-left;
  }
  
  td {
    @apply text-nowrap;
  }
  
  input, select {
    @apply border-surface-700 hover:border-surface-300 focus:border-surface-300 border-2 bg-surface-950 p-2 outline-none rounded-sm;
  }
  
  select {
    /*@apply border-r-transparent;*/
    /*border-right-width: --spacing(1);*/
  }
}

/** {*/
/*  font-size:inherit;*/
/*}*/

/*body {*/
/*  font-size:inherit;*/
/*  padding:0 var(--gutter);*/
/*  margin:0;*/
/*  background:#efefef;*/
/*}*/

/*table {*/
/*  border-collapse: collapse;*/
/*}*/

/*th {*/
/*  text-align: left;*/
/*  font-weight:600;*/
/*}*/

/*tr, th, td {*/
/*  border:1px solid #c3c3c3;*/
/*  padding: calc(var(--gutter) / 2);*/
/*}*/

/*.material-symbols-outlined {*/
/*  font-size:inherit;*/
/*  !*cursor: default;*!*/
/*}*/