:root {
  --border-radius:3px;
  --gutter:0.7em;
}

* {
  font-size:inherit;
}

html {
  width:750px;
  font-size:14px;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  font-size:inherit;
  padding:0 var(--gutter);
  margin:0;
  background:#efefef;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight:600;
}

tr, th, td {
  border:1px solid #c3c3c3;
  padding: calc(var(--gutter) / 2);
}

.material-symbols-outlined {
  font-size:inherit;
  cursor: default;
}
