@theme {
  --color-text-50: #0d0d0d;
  --color-text-100: #1a1a1a;
  --color-text-200: #333333;
  --color-text-300: #4d4d4d;
  --color-text-400: #666666;
  --color-text-500: #808080;
  --color-text-600: #999999;
  --color-text-700: #b3b3b3;
  --color-text-800: #cccccc;
  --color-text-900: #e6e6e6;
  --color-text-950: #f2f2f2;
  --color-background-50: #140a05;
  --color-background-100: #29140a;
  --color-background-200: #522914;
  --color-background-300: #7a3d1f;
  --color-background-400: #a35229;
  --color-background-500: #cc6633;
  --color-background-600: #d6855c;
  --color-background-700: #e0a385;
  --color-background-800: #ebc2ad;
  --color-background-900: #f5e0d6;
  --color-background-950: #faf0eb;
  --color-primary-50: #150d05;
  --color-primary-100: #2a1a09;
  --color-primary-200: #533313;
  --color-primary-300: #7d4d1c;
  --color-primary-400: #a66626;
  --color-primary-500: #d0802f;
  --color-primary-600: #d99959;
  --color-primary-700: #e3b382;
  --color-primary-800: #ecccac;
  --color-primary-900: #f6e6d5;
  --color-primary-950: #faf2ea;
  --color-secondary-50: #160d03;
  --color-secondary-100: #2d1a06;
  --color-secondary-200: #5a330c;
  --color-secondary-300: #874d12;
  --color-secondary-400: #b46618;
  --color-secondary-500: #e0801f;
  --color-secondary-600: #e7994b;
  --color-secondary-700: #edb378;
  --color-secondary-800: #f3cca5;
  --color-secondary-900: #f9e6d2;
  --color-secondary-950: #fcf2e9;
  --color-accent-50: #180d01;
  --color-accent-100: #301a03;
  --color-accent-200: #603306;
  --color-accent-300: #914c08;
  --color-accent-400: #c1660b;
  --color-accent-500: #f1800e;
  --color-accent-600: #f4993e;
  --color-accent-700: #f7b36e;
  --color-accent-800: #f9cc9f;
  --color-accent-900: #fce6cf;
  --color-accent-950: #fef2e7;
}